.box-box{
    padding: 70px;
    background: #fff;
    min-height: 800px;
}
#center-box{
    padding: 30px;
    padding-top: 40px;
}
.w-e-text-container{
    min-height: 600px;
}
#btn-fabu{
    margin-top: 20px;
}